/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #f0f2f5; */
}

.home-page {
  background-color: #f0f2f5;
  width: 1140px;
}

/* Navbar */
.navbar {
  background-color: #003366;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.navbar-left img {
  width: 80px;

  border-radius: 40px;
}

.navbar-center {
  list-style: none;
  display: flex;
  gap: 32px;
  cursor: pointer;

}
.navbar-center :hover {
  color: gray;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-center li {
  display: inline;
}

.navbar-center li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.navbar-right span {
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

/* Carousel */
.carousel-container {
  margin: 10px 0;
  height: 450px;
}

.carousel-container img {
  width: 100%;
  height: 450px;
  /* object-fit: cover; */
}

/* Footer */
.footer {
  background-color: #003366;
  color: white;
  padding: 20px 40px;
  /* display: flex;
  flex-direction:  row; */
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-content {
  display: flex;
}

.footer-section {
  width: 20%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  color: #ddd;
}

.footer-section p {
  font-size: 14px;
  color: #ddd;
}

.footer-logo {
  width: 80px;
  margin-bottom: 10px;
  border-radius: 40px;
}
